<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{>header}}
    <h2>{{pageTitle}}</h2>
    <p>{{greeting}}</p>
    {{>footer}}
  </body>
</html>
